.modal-shade {
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:.5;
}
.btf-modal {
	background-color:#fff;
	padding:20px;
}
.control {
	display: block;
	margin:10px 0;
}
.text-field {
	width:270px;
	height:26px;
	border-radius:6px;
	border:solid 1px #999;
	padding:0 4px;
}
#close-modal {
	position: absolute;
	top:20px;
	right:20px;
}
.error {
	color:#c51f1f;
}
.has-error input {
	border:solid 1px #c51f1f;
}