body {
	font-family:'Arial', 'sans-serif';
}

.container {
	width:800px;
	margin:0 auto;
}

button, input[type="submit"] {
	padding:10px;
	color:#fff;
	background-color:#6489c6;
	border:none;
	border-radius:6px;
}

#add-user {
	float:right;
}